body {
    background-color: antiquewhite;
    background-image: url(../static/Site-fundo-01-1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {

    text-align: center;
}

.ListaProduto {
    text-align: center;

}

.meiodatela-1 p {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
}

ul {
    list-style-type: none;
}